# Dependencies
/node_modules
vendor/
/vendor/
npm-debug.log
yarn-error.log

# Laravel storage
/storage/*.key
/storage/pail
public/storage
public/hot
public/build

# Public path alternatives
public_html/storage
public_html/hot

# Environment files
.env
.env.backup
.env.production
auth.json

# PHPUnit
.phpunit.result.cache
.phpactor.json

# Homestead
Homestead.yaml
Homestead.json

# Vagrant
/.vagrant

# Docker
docker-compose.override.yml

# IDE / Editor
/.idea
/.vscode

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
